@charset "UTF-8";
.div2-top{
	width: 100%;
	margin: 10px 0;
}
.div2-top-1{
	font-size: 5px !important;
	color: #c0c0c0;
	padding: 10px;
}
.div-mid-wrap{
    border: #e3d6c6 solid 1px;
    padding: 24px;
    margin-top: 10px;
    min-height: 300px;
}
.check{
	wdith: 100%; 
	padding: 10px 0;
	
	
}
.btnDate {
    background: url(img/btnDate.gif) no-repeat;
    height: 27px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}
.btnDate.btnDateAll {
    width: 45px;
    background-position: -211px 0px;
}

.btnSch {
    background: url(img/membershipBtnSch.gif) no-repeat;
    width: 62px;
    height: 27px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}

.rsv_check_box{
			width : calc(100% - 20px);
		   height : 25px;
		   padding-top : 5px;
		 
		   margin-left:20px;
		   border-bottom : thick;
	   	   border-bottom-width: 3px;
	  	   border-bottom-style: solid;
	  	   font-size : 15px;
	   	   font-weight : normal;
	   	   color : #432c10;
	   	   display : inline-block;
	   	    vertical-align: middle;
}
.rsv_total_box{
	width:95%; 	
	text-align: center;
	background-color: #fcf9f3;
	height: 30px;
	padding: 20px 0;
	margin-left: 2.5%;
	vertical-align: middle;
	border-bottom: thin;
	border-bottom-color:  #d89f5a;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top: thin;
	border-top-color:  #d89f5a;
	border-top-width: 1px;
	border-top-style: solid;
}
.box1{
	width: 10%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;
	padding: 7px 0;

}
.box2{
	width: 26%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;
	padding: 7px 0;
}
.box3{
	width: 20%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;
	padding: 7px 0;
}
.box4{
	width: 10%;;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;
	padding: 7px 0;
}
.box5{
	width: 10%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;

}
.box6{
	width: 14%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;

}
.box7{
	width: 10%;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	float: left;
	vertical-align: middle;
	padding: 7px 0;
}
.rsv_total_box:after{
	  clear: both;
    content: "";
    display: block;
}
.rsv_check_box:after{
	  clear: both;
    content: "";
    display: block;
}

.rsv_box_bottom{
	width:90%;
		border-bottom: thin;
	border-bottom-color:  #d89f5a;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-left: 5%; 
	font-size: 12px; 
	text-align: center; 
	padding:10px 0;
}
body, html {
    font-size: 12px;
    
}
a{
    color: -webkit-link;
    cursor: pointer;
}



