@charset "UTF-8";

body {margin : 0;}

.margin {margin : 0px;}

#div1 {width : 100%;
	   height : 90px;
	   min-width : 1200px;
	   background-color : #f1e3c4;
	   }
	   
#div2 {width : 1200px;
	   height : 1289px;
	   min-width : 1200px;
	   margin-left : auto;
	   margin-right : auto;
	   padding-top : 65px;
	   margin-bottom : 100px;
	   }
	   
#div2-1 {height : 1289px;
		 }
		 
#div2-L {width : 264px;
		 height : 395px;
		 margin : 0;
		 padding : 0;
		 float : left;
		 }
		 
.contents {width : 218px;
		   height : 319px;
		   padding : 23px;
		   margin-bottom : 30px;
		   border : 1px;
		   background-color : #f1e3c4;
		   }
		   
.intro {height : 40px;
		padding-top : 9px;
	   margin-bottom : 33px;
	   border-bottom : thick;
	   border-bottom-width: 5px;
	   border-bottom-style: solid;
	   font-size : 22px;
	   font-weight : bold;
	   color : #432c10;
	   }

.menu {height : 209px;
	   color : #432c10;
	   font-size : 17px;
	   }
   

.m {color : #432c10;
	margin-bottom : 26px;
	font-size : 15px;
	letter-spacing: -1px;
	font-weight : bold;
	padding-left : 8px;
	}
	
.m-selected {color : #432c10;
	margin-bottom : 26px;
	font-size : 15px;
	letter-spacing: -1px;
	font-weight : bold;
	padding-left : 8px;
	background-color : #d3c09a;
	}
		 
#div2-R {width : 866px;
		 height : 1289px;
		 background-color : white;
		 float : right;
		 }
		 
#div2-R-T {width : calc(100% - 4px);
		   height : 40px;
		   padding : 2px;
		   float : right;
		   border-bottom : thick;
	   	   border-bottom-width: 5px;
	  	   border-bottom-style: solid;
	  	   font-size : 26px;
	   	   font-weight : normal;
	   	   color : #432c10;
	   	   display : inline-block;
		   }
		   
#div2-R-T-R {float : right;
			 font-size : 12px;
			 margin-top : 3px;
			 }
			 
			 
.color {color : #865009;}

#div2-R-B {width : 100%;
		   height : 1240px;
		   display : inline-block;
		   }

.h {font-size : 22px;
	color : #3c2f26;
	margin-top : 5px;
	margin-bottom : 15px;
	letter-spacing: -1px;
	}
	
.p {letter-spacing : -1px;
	line-height : 120%;
	font-size : 15px;
	font-weight : bold;
	color : #3c2f26;
	text-align : center;
	font-size : 22px;
	padding-top : 50px;
	}
	
.border1 {border-bottom-width : 3px;
		 border-bottom-style : solid;
		 text-align : center;
		 font-size : 22px;
		 padding : 5px 35px;
		 }


#div2-R-B-2 {width : 100%;
		   	 height : 150px;
		  	 margin-top : 65px;
		     margin-bottom : 25px;
		     display : inline-block;
		     }
		     
#div2-R-B-3 {width : 100%;
		   	 height : 500px;
		  	 margin-top : 25px;
		     margin-bottom : 25px;
		     display : inline-block;
		     }

		     
#div2-R-B-3-left {width : calc(62.5% - 8px);
			   height : 299px;
			   float : left;
			   }

#div2-R-B-3-right {width : calc(37.5% + 6px);
				height : 298px;
				border-width : 1px;
				border-style : solid;
				border-color : #cdcbbe;
				float : right;
				}
				
#div2-R-B-3-A-pic {height : 298px;
				   background-image: url("imgF/kakaoimage.jpg");
				   background-size : cover;
				   background-repeat : no-repeat;
				   }
				
#div2-R-B-3-bottom {width : 100%;
			   height : 100px;
			   float : left;
			   }
		          
#divA {width : 100%;
			   height : 49px;
			   border-bottom-width : 1px;
			   border-bottom-style : solid;
			   border-bottom-color : #cdcbbe;
			   float : left;
			   }
			   
#divA-F {width : 100%;
			   height : 48px;
			   border-bottom-width : 1px;
			   border-bottom-style : solid;
			   border-bottom-color : #cdcbbe;
			   border-top-width : 1px;
			   border-top-style : solid;
			   border-top-color : #cdcbbe;
			   float : left;
			   }
			   
#divA-add {width : 100%;
			   height : 99px;
			   border-bottom-width : 1px;
			   border-bottom-style : solid;
			   border-bottom-color : #cdcbbe;
			   }
			   
			   
#divA-L {width : calc(25% - 3px);
				 height : calc(100% - 13px);
				 float : left;
				 text-align : center;
				 padding-top : 13px;
				 background-color : #faf9f4;
				 font-weight : bold;
				 }

#divA-R {width : calc(75% - 13px);
				 height : calc(100% - 13px);
				 float : left;
				 padding-left : 10px;
				 padding-top : 13px;
				 }
				 
				 
#divA-L-add {width : calc(15.5% - 4px);
			 height : calc(100% - 40px);
			 float : left;
			 text-align : center;
			 padding-top : 40px;
			 font-weight : bold;
			 background-color : #faf9f4;
			 }

#divA-R-add {width : calc(75% - 13px);
				 height : calc(100% - 40px);
				 float : left;
				 padding-left : 10px;
				 padding-top : 40px;
				 }
						          

			   

				 

				 


.Modify {width : 150px;
					height : 30px;
					text-align : center;
					margin-left : auto;
					margin-right : auto;
					padding-top : 5px;
					margin-top : 10px;
					padding-bottom : 5px;
					background-color : black;
					color : white;
					font-weight : bold;
					font-size : 17px;
					}
					
.Modify:hover {background-color : gray;
						 cursor : pointer;
						 }
		     
		     
#div2-R-B-4 {width : 100%;
		   	 height : 400px;
		  	 margin-top : 25px;
		     margin-bottom : 25px;
		     display : inline-block;
		     }
		     
#div2-R-B-4-A {width : 100%;
			   height : 49px;
			   border-bottom-width : 1px;
			   border-bottom-style : solid;
			   border-bottom-color : #cdcbbe;
			   }
			   
#div2-R-B-4-A-L {width : calc(25% - 3px);
				 height : calc(100% - 13px);
				 float : left;
				 text-align : center;
				 padding-top : 13px;
				 background-color : #faf9f4;
				 font-weight : bold;
				 }

#div2-R-B-4-A-R {width : calc(75% - 10px);
				 height : calc(100% - 13px);
				 float : right;
				 padding-left : 10px;
				 padding-top : 13px;
				 }
				 
#div2-R-B-4-A-R-pwd {width : calc(75% - 10px);
				 	height : 100%;
				 	float : right;
				 	}		 	
.pwd::placeholder{
	color: black !important;
	}
		 	
.h2 {font-size : 15px;
	color : #3c2f26;
	margin-top : 5px;
	margin-bottom : 15px;
	letter-spacing: -1px;
	}
				 
.pwd {width : 50%;
	  height : 28px;
	  border : 0;
	  margin-top: 8px;
	  }
		     

	   
#div3 {width : 100%;
	   height : 170px;
	   min-width : 1200px;
	   background-color : #f1e3c4;
	   }
	   
#div4 {width : 1200px;
	   height : 183px;
	   margin-left : auto;
	   margin-right : auto;
	   min-width : 1200px;
	   position : relative;
	   background-color : green;
	   }


