@charset "UTF-8";

body {margin : 0;}

.margin {margin : 0px;}

#div1 {width : 100%;
	   height : 90px;
	   min-width : 1200px;
	   background-color : #f1e3c4;
	   }
	   
#div2 {width : 1200px;
	   height : 1289px;
	   min-width : 1200px;
	   margin-left : auto;
	   margin-right : auto;
	   padding-top : 65px;
	   margin-bottom : 100px;
	   }
	   
#div2-1 {height : 1289px;
		 }
		 
#div2-L {width : 264px;
		 height : 395px;
		 margin : 0;
		 padding : 0;
		 float : left;
		 }
		 
.contents {width : 218px;
		   height : 319px;
		   padding : 23px;
		   margin-bottom : 30px;
		   border : 1px;
		   background-color : #f1e3c4;
		   }
		   
.intro {height : 40px;
		padding-top : 9px;
	   margin-bottom : 33px;
	   border-bottom : thick;
	   border-bottom-width: 5px;
	   border-bottom-style: solid;
	   font-size : 22px;
	   font-weight : bold;
	   color : #432c10;
	   }

.menu {height : 209px;
	   color : #432c10;
	   font-size : 17px;
	   }
   

.m {color : #432c10;
	margin-bottom : 26px;
	font-size : 15px;
	letter-spacing: -1px;
	font-weight : bold;
	padding-left : 8px;
	}
	
.m-selected {color : #432c10;
	margin-bottom : 26px;
	font-size : 15px;
	letter-spacing: -1px;
	font-weight : bold;
	padding-left : 8px;
	background-color : #d3c09a;
	}
		 
#div2-R {width : 866px;
		 height : 1289px;
		 background-color : white;
		 float : right;
		 }
		 
#div2-R-T {width : calc(100% - 4px);
		   height : 40px;
		   padding : 2px;
		   float : right;
		   border-bottom : thick;
	   	   border-bottom-width: 5px;
	  	   border-bottom-style: solid;
	  	   font-size : 26px;
	   	   font-weight : normal;
	   	   color : #432c10;
	   	   display : inline-block;
		   }
		   
#div2-R-T-R {float : right;
			 font-size : 12px;
			 margin-top : 3px;
			 }
			 
			 
.color {color : #865009;}

#div2-R-B {width : 100%;
		   height : 1240px;
		   display : inline-block;
		   }

.h {font-size : 22px;
	color : #3c2f26;
	margin-top : 5px;
	margin-bottom : 15px;
	letter-spacing: -1px;
	}
	
.p {letter-spacing : -1px;
	line-height : 120%;
	font-size : 15px;
	font-weight : bold;
	color : #3c2f26;
	}


#div2-R-B-2 {width : 100%;
		   height : 220px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   background-image : url("imgF/Overview1.png");
		   background-repeat : no-repeat;
		   }
		   
#div2-R-B-3 {width : 100%;
		   height : 155px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   }
		   
#div2-R-B-4 {width : 100%;
		   height : 156px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   }
		   
#div2-R-B-5 {width : 100%;
		   height : 100px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   }
		   
#div2-R-B-6 {width : 100%;
		   height : 70px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   }
		   
#div2-R-B-7 {width : 100%;
		   height : 220px;
		   margin-top : 10px;
		   margin-bottom : 10px;
		   display : inline-block;
		   background-image : url("imgF/Overview2.png");
		   background-repeat: no-repeat;
		   }
		   
#div2-R-B-8 {width : 100%;
		   height : 140px;
		   margin-top : 10px;
		   display : inline-block;
		   }


	   
#div3 {width : 100%;
	   height : 170px;
	   min-width : 1200px;
	   background-color : #f1e3c4;
	   }
	   
#div4 {width : 1200px;
	   height : 183px;
	   margin-left : auto;
	   margin-right : auto;
	   min-width : 1200px;
	   position : relative;
	   background-color : green;
	   }


