@charset "UTF-8";

.joincontain {
	position: relative;
    padding: 65px 0 0 0;
	}
.poplayer {
    position: absolute;
    background: #ffffff;
    left: 10px;
    top: 100px;
    z-index: 10000;
    zoom: 1;
    box-shadow: 1px 1px 2px #555;
	}

.poplayer .pophead {
    position: relative;
    height: 30px;
    zoom: 1;
    z-index: 10;
    background: #9b7f5b;
    border: #9b7f5b solid 5px;
	}

.poplayeragreeall {
    width: 866px;
    margin: 0 0 0 -433px;
    left: 50%;
    position: absolute;
	}

.poplayeragreeall {
    top: 250px;
	}
.poplayeragreeall .pophead .headttle {
    background: url("Other/6join/popheadtitjoin.gif") no-repeat 0 -710px;
	}

.poplayer .pophead .headttle {
    width: 70%;
    float: left;
    padding: 5px 0 0 25px;
    height: 27px;
    overflow: hidden;
    line-height: 100px;
	}

.poplayer .pophead .btn {
    float: right;
    padding: 6px 22px 0 0;
	}
	
.poplayer .pophead .btn .closebtn {
    width: 19px;
    height: 19px;
    background: url("Other/6join/poplayerclosebtn.gif") no-repeat;
    text-indent: -9999%;
    overflow: hidden;
    display: block;
	}

.poplayer .pophead .btn .closebtn span {
    text-indent: -9999%;
    overflow: hidden;
	}

.closebtn span {
    display: block
	}
	
.poplayer .popctn {
    padding: 25px 27px;
    background: #FFF;
    border: #9b7f5b solid 5px;
    border-top: none;
	}
	
.poplayeragreeall .popctnfix {
    height: 500px!important;
    overflow-y: scroll;
    display: block;
    color: #646464;
	}
	
/* 주소찾기 css */

.poplayeraDdresssch .pophead .headttle2 {
    background: url("Other/6join/popheadtitjoin.gif") no-repeat 0 -250px;
	}
	
.poplayeraDdresssch .tabboxb .ctnb .adresbox {
    overflow: hidden;
    border: none;
    border-top: #a1886f solid 1px;
    display: none;
    padding: 0px 0 0 0;
    margin: 0;
	}

.poplayeraDdresssch .tabboxb .ctnbon .adresbox {
    display: block;
	}

.staddressbox .messege {
    line-height: 160%;
	}

.poplayeraDdresssch .staddressbox .messege {
    padding: 10px 0;
    text-align: left;
    margin: 0 0 10px 0;
	}
	
.poplayeraDdresssch .staddressbox .sch {
    border: #e9e9e9 solid 1px;
    background: #fbfbfb;
    padding: 19px 19px;
    margin: 10px 0 0 0;
	}

.poplayeraDdresssch .staddressbox .sch .sch1 {
    margin: 0 0 8px 0;
	}

.poplayeraDdresssch .staddressbox label.areaa1 {
    background: url("Other/9informpop/popaddresstxt1.gif") no-repeat;
    width: 45px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    overflow: hidden;
	}

.poplayeraDdresssch .staddressbox .sch .sch1 .selector {
    background-position: 0 -140px;
    padding: 0 0 0 10px;
	}
	
.poplayeraDdresssch .staddressbox .sch .sch1 .selector span{
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    line-height: 27px;
    width: 100%;
    display: block;
    }

.poplayeraDdresssch .staddressbox .sch .sch1 .selector select{
	opacity: 0;
    position: absolute;
} 
 
.mdScreen {
   	z-index: 1001;
	}
	
.mdScreen {
    background: #fff;
    width: 100%;
    height: 100%;
    zoom: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.5;
	}

.container {
    width: 1200px;
    margin: auto;
    zoom: 1;
    margin: 0 auto 100px auto;
	}

.joincontain .contents {
    float: none !important;
    width: auto !important;
    margin: auto !important;
	}

.ctnjoin {
    width: 866px;
    margin: auto;
	}

.contents .location {
    float: right;
    height: 20px;
    padding: 9px 0 0 0;
    margin: 0 0 -30px 0;
    overflow: hidden;
    z-index: 9;
    position: relative;
	}

.location .lote {
    display: block;
    font-size: 11px;
    background: url(Other/3reservation/locaton.gif) no-repeat 0 1px;
    line-height: 12px;
    padding: 0 0 0 17px;
	}

.rewardsjoin .rewardsjoinimg {
    background: url("Other/6join/subTitleMypage.gif") no-repeat 0px -500px;
    height: 47px;
	}
	
.ctnjoin .joinstep {
    height: 51px;
    width: 866px;
    background: #ffffff;
    margin: auto;
	}
.ctnjoin .joinstep .order {
    float: left;
    height: 39px;
	}

.ctnjoin .joinstep .order li {
    float: left;
	}

.ctnjoin .joinstep .order li span{
    display: block;
    zoom: 1;
    height: 51px;
    background: url("Other/6join/joinsteptimid.gif") no-repeat;
    overflow: hidden;
	}

.ctnjoin .joinstep .order li.on span {
    background: url("Other/6join/joinstepbold.gif") no-repeat;
	}

.joinstep .order li.argee span {
    width: 289px !important;
	}

.joinstep .order li.memberinform span {
    background-position: -289px 0px !important;
    width: 288px !important;
	}

.joinstep .order li.joinend span {
    background-position: -577px 0px !important;
    width: 289px !important;
	}

.joiner .top {
    height: 160px;
    background: url("Other/6join/joinsteptop.gif") no-repeat;
    text-indent: -9999%;
    overflow: hidden;
	}

.joiner .jtitle {
    margin: 0 0 23px;
    height: 40px;
    text-indent: -9999%;
    overflow: hidden;
	}

.joiner .jtitle1 {
    background: url("Other/6join/joinStep1tit1.gif") no-repeat;
	}

.joiner .termbox {
    background: #ffffff;
    margin: 20px 0 0px 0;
    padding: 0px;
	}

.joiner .essential {
    height: 30px;
    margin: 0 0 0px;
	}

.joiner .essential .tite {
    float: left;
    font-weight: bold;
    font-size: 12px;
    color: #444444;
    padding-top: 5px;
	}

.essential .info {
    float: right;
    height: 28px;
	}

.viewall {
    width: 63px;
    height: 23px;
    display: inline-block;
    line-height: 99px;
    overflow: hidden;
    background: url("Other/6join/btnviewall.gif") no-repeat;
	}

.joiner .policybox {
    border: #cccccc solid 1px;
    height: 170px;
    margin-top: 0;
    padding: 15px 20px;
    overflow: auto;
    overflow-x: hidden;
	}

.joiner .policybox .boxtext{
	color : #888888 !important;
	}

.joiner .policybox .boxtext p{
	color : #888888 !important;
	}

.checkagreebox {
    margin-top: 10px;
	}

.joiner .checkagreebox {
    padding: 7px 0 20px;
	}

.termbox .checkagreebox input {
	margin: 0;
    padding: 0;
	}
	
.radiowidth {
    width: 16px;
    height: 16px;
    vertical-align: sub;
	}

.hrstyle {
    border-bottom: 1px dashed #ede4d6;
    margin: 10px 0 20px 0;
    height: 0px;
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
	}

.checkagreebox {
    color: #444;
    margin-top: 10px;
	}

.joiner .checkagreebox {
    padding: 7px 0 20px;
	}

.checkall {
    font-size: 10pt;
    color: #454545;
	}

.endbut{
	text-align: center;
    display: block;
    margin: 10px;
	}

.buttstyle {
    padding: 10px 20px;
    background: #393124;
    color: #ffffff;
    font-weight: bold;
    font-size: 11pt;
    display: inline-block;
    margin-top: 10px;
	}

/* 회원정보입력 css */

.contents .location .lote strong {
    color: #865009;
    font-weight: normal;
    text-decoration: underline;
	}

.ctnjoin .informdata {
    border-bottom: none;
	}

.contents .informdata .informdataimg {
    line-height: 100px;
	}

.informdata .informdataimg {
    background: url("Other/7informing/subtitleJoin.gif") no-repeat;
    height: 47px;
	}
	
.ctnjoin .joinstep .order li.on span {
    background: url("Other/6join/joinstepbold.gif") no-repeat;
	}

.joiner2 .jtitle {
    margin: 40px 0 0px;
    height: 40px;
    overflow: hidden;
	}
	
.joiner2 .jtitle2 {
    background: url("Other/7informing/joinStep2tit1.gif") no-repeat;
	}

.joiner2 .baseinput {
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    margin: 30px 0 0px 0;
	}

.joiner2 .baseinput .tit {
    float: left;
    font-weight: bold;
    color: #444444;
    font-size: 12px;
	}
.ad{
	background-color: #f33333
	}
.joiner2 .baseinput .emtext {
    float: right;
    padding: 3px 0 0 0;
	}

.table1{
    border: none;
    border-top: #cdcbbe solid 1px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
	}

.table1 th {
    color: #666666;
    background: #faf9f4;
	}

.table1 td {
    background: #ffffff;
    color: #1b1b1b;
    padding: 6px 14px;
	}

.table1 th, .table1 td {
    border: none;
    padding: 6px 13px;
    text-align: left;
    line-height: 22px;
    border-bottom: #eceae1 solid 1px;
    color: #333333;
	}

.table1 .inters input::placeholder {
	color:#000000;
	}

.table1 input.databox {
    width: 150px;
    padding: 5px 4px 5px 4px;
	}

.table1 .inters input{
	padding: 0 0 0 10px;
}
.table1 .inters .addsch1{
	width: 100px;
	height: 24px;
	}

.table1 .inters .addsch2{
	text-align: left;
    width: 72px;
    height: 24px;
	}

.table1 .inters .address1, .table1 .inters .address2{
	width:700px;
	height: 24px;
	}
	
.table1 .inters .address1, .table1 .inters .address2{
	position: relative;
    margin-top: 7px;
	}
.table1 select.selector {
    background-position: 0 -140px;
    padding: 0 0 0 10px;
    }
    
.table1 select.selector span {
    color: #bbbbbb;
	}

.table1  select.selector span {
    display: block;
    background-position: right 0;
    line-height: 27px;
    padding-right: 25px;
    width: 100%;
    display: block;
	}

.emailconfirm  {
    background: url("Other/7informing/emailconfirm.gif") no-repeat;
    width: 96px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
	}
	
.joiner2 .btnaddres {
    background: url("Other/7informing/btnaddress.gif") no-repeat;
    width: 66px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
	}

.inters .addressall {
    position: relative;
	}

.inters div.zipcode {
    padding: 2px 0;
    zoom: 1;
	}

.inters .addressall div.address1 {
    padding: 2px 0;
    zoom: 1;
	}

.inters .addressall div.address2 {
    padding: 2px 0;
    zoom: 1;
	}

.joiner2 .addressall input.address1 {
    width: 712px;
	}

.idconfirm  {
    background: url("Other/7informing/idconfirm.gif") no-repeat;
    width: 96px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
	}
	
.tablemsg .condition {
    color: #727272;
    margin: 0 0 0 7px;
    display: inline-block;
	}

.joiner2 .pwguid {
    position: relative;
    display: inline-block;
    zoom: 1;
    z-index: 10;
	}

.tablemsg .pwguidtxt {
    font-size: 11px;
    font-weight: normal;
    color: #806925;
    text-decoration: none;
	}

.pwicon  {
    background: url("Other/7informing/icoHelp.gif") no-repeat;
    display: inline-block;
    width: 15px;
    height: 14px;
    vertical-align: middle;
	}
	
.shpromotion {
    margin: 20px 0 0;
	}

.shpromotion span {
    display: inline-block;
    margin-left: 10px;
    color: #727272;
    font-size: 11px;
	}

.btnjoinbtn {
    padding: 30px 0 0 0;
	}

.btnjoinbtn{
    text-align: center;
    zoom: 1;
    margin: 0px 0 0px 0;
    position: relative;
    min-height: 28px;
	}
.joiner2 .joinsendbtn{
    background: url("Other/7informing/btnjoinsend.gif") no-repeat;
    width: 137px;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    overflow: hidden;
	}

.joiner3 .top {
    background: url("Other/8joinclear/joinwelcome.gif") no-repeat;
    height: 140px;
    margin: 0 0 0px 0;
    overflow: hidden;
    position: relative;
	}

.joiner3 .top .info1 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    position: absolute;
    top: 92px;
    width: 866px;
	}

.bold3px {
    border: 3px solid #e3d6c6;
    padding: 50px 24px 20px;
    display: block;
    width: 690px;
    margin: 0 auto;
	}

.rewardbox {
    padding: 0;
	}

.rewardbox li {
    display: inline;
	}

.rewardbox li img {
    position: relative;
    top: 5px;
    margin-left: 180px;
	}

.rewardbox li.rewnum {
    padding: 3px 0 3px 35px;
    color: #a1886f;
    font-size: 18px;
    font-weight: bold;
	}

.rewardbox + .rewardbox {
    margin: 20px 0 0 0;
	}

.graybox {
    color: #343434;
    font-size: 12px;
    border: 1px solid #e1e1e1;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 30px 0 0 0;
    line-height: 20px;
    text-align: center;
	}

.btnloginclear {
    text-align: center;
    zoom: 1;
    padding: 30px 0 0 0;
    position: relative;
    min-height: 28px;
	}


.joiner3 .btnloginclear{
    margin: 0 0 29px 0;
    height: 44px;
	}
	
.joiner3  .btnloclmain {
    background: url("Other/8joinclear/joinclear.gif") no-repeat;
    width: 137px;
    height: 44px;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
	}