@charset "UTF-8";
.flobar .topbar {
    background: url("Other/4floor/flobg.gif") repeat;
    height: 170px;
	}
	
.flobar .topbar .topbarz {
    width: 1200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.flobar .topbar .leftlogo {
    float: left;
    width: 230px;
    height: 170px;
    position: relative;
    background: url("Other/4floor/flo1.gif") no-repeat 0 19px;
}

.highlogo {
    overflow: hidden;
}

.highlogo .1logo .2logo {
    float: left;
    line-height: 0;
    font-size: 0;
}
.highlogo .1logo a {
    display: inline-block;
    width: 161px;
    height: 68px;
    background: url("Other/4floor/flo2.gif") no-repeat;
	}