@charset "UTF-8";
.mainbody{
	min-width:1200px;
	width: 100%;
	}
.mainbody .head{ 
	height:90px; 
	width:100%;
	}
.topbg{
	background: url('Other/1top/headBg.gif') repeat-x;
	}

.head{
	width: 1600px;
	height: 90px;
	position: relative;
    z-index: 20;
	}

.head .header{
	width: 1200px;
	margin: 0 auto 0 auto; 
	height: 90px; 
	position: relative; 
	background: url('Other/1top/headBg.gif') repeat-x; 
	z-index: 20;
	}
	
.head .header .logo{ 
	width: 260px; 
	margin: 0 auto;
	}
	
.head .header .logo a { 
	display:inline-block;
	width: 202px;
	height:50px;
	margin-top: 20px; 
	background: url('Other/1top/center.gif');
	text-indent:-9999%;
	overflow: hidden; 
	}
	
.loginArea {
    position: absolute;
    top: 12px;
    right: 0px;
	}
.loginArea a {
    position: relative;
    display: inline-block;
    color: #856f56;
    margin-right: 15px;
    padding-right: 16px;
	}
.loginArea {
    position: absolute;
    height: 10px;
	}
.head .header .tople1 {
    position: absolute;
    left: 0px;
    top: 39px;
    width: 111px;
    height: 51px;
    background: url("Other/1top/left1.png") no-repeat 0px 0px;
    z-index: 20;
	}
	
.head .header .tople1 .btn {
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 51px;
    text-indent: -9999%;
    overflow: hidden;
 	}
 
.head .header .tople2 {
    position: absolute;
    left: 150px;
    top: 39px;
 	}
 
.head .header .tople2 a {
    position: relative;
    display: inline-block;
    width: 83px;
    height: 51px;
    background: url("Other/1top/left2.gif") no-repeat;
 	}
 
.head .header .toprimen {
    position: absolute;
    right: 0;
    top: 39px;
 	}
 
.head .header .toprimen ul li {
    float: left;
    margin-left: 40px;
 	}
 
.head .header .toprimen .right1 a {
    position: relative;
    display: inline-block;
    width: 112px;
    height: 51px;
    overflow: hidden;
    background: url("Other/1top/right1.gif") no-repeat;
 	}
 
.head .header .toprimen .right2 a {
    position: relative;
    display: inline-block;
    width: 76px;
    height: 51px;
    background: url("Other/1top/right2.gif") no-repeat;
}

.head .header .toprimen .right3 a {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 51px;
    background: url("Other/1top/right3.gif") no-repeat;
	}
    
.mainset {
	height: 770px;
    position: relative;
    overflow: hidden;
	}

.mainset .maimg {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -960px;;
	}

.mainset .yeyak {
    position: absolute;
    bottom: 20px;
    left: 50%;
    min-width: 1200px;
    width: 1200px;
    margin-left: -600px;
    z-index: 10;
    background: #ffffff;
	}

.yeyak {
    position: relative;
	}
	
.mainset .yeyak .yeyakcase {
    position: relative;
    height: 100px;
    margin-bottom: 0;
    padding: 42px 0 0 0;
    border: 0;
    box-sizing: border-box;
	}

.mainset .yeyakcase .rechhotel {
    position: relative;
    height: 100px;
    margin-bottom: 0;
    padding: 42px 0 0 0;
    border: 0;
    box-sizing: border-box;
	}

.yeyakcase .rechhotel .reccont {
    float: left;
    margin-right: 10px;
    vertical-align: top;
    box-sizing: border-box;
	}

.yeyakcase .rechhotel .reccont.serht {
    width: 240px;
	}

.mainset .yeyakcase .rechhotel .reccont {
    float: left;
    margin-right: 0;
    vertical-align: top;
    box-sizing: border-box;
	}

.mainset .yeyakcase .rechhotel .reccont.serht {
    width: 300px;
	}

.mainset .yeyakcase .rechhotel .reccont.serht {
    width: 240px !important;
	}

.yeyakcase .rechhotel .reccont dl {
    float: left;
	}
.mainset .yeyakcase .rechhotel .reccont dl {
    float: left;
	}

.yeyakcase .rechhotel .reccont dl dt {
    height: 20px;
    text-align: center;
	}

.yeyakcase .rechhotel .reccont.serht dt {
    text-align: left;
	}

.mainset .yeyakcase .rechhotel .reccont dl dt {
    height: 20px;
    text-align: center;
	}

.mainset .yeyakcase .rechhotel .reccont.serht dt {
    text-align: left;
	}
	
.yeyakcase .rechhotel .reccont dl dt img {
    vertical-align: middle;
	}

.mainset .yeyakcase .rechhotel .reccont dl dt img {
    vertical-align: middle;
	}

.yeyakcase .rechhotel .reccont dl dd {
    margin-top: 16px;
    text-align: center;
	}

.mainset .yeyakcase .rechhotel .reccont dl dd {
    margin-top: 5px;
    text-align: center;
	}
.yeyakcase .rechhotel .reccont.serht .serhtcase {
    position: relative;
    color: #333333;
    text-align: left;
	}
	
.mainset .yeyakcase .rechhotel .reccont.serht .serhtcase .inht {
    width: 165px;
    padding: 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
	}

.mainset .yeyakcase .rechhotel .reccont.serht .serhtcase .inht {
    width: 215px !important;
	}

.mainset .yeyakcase .rechhotel .reccont dl dd a {
    display: inline-block;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
	}

.mainset .yeyakcase .rechhotel .reccont.serht .serhtcase .btnsee {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 25px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("Other/3reservation/search.png") 50% 50% no-repeat;
    vertical-align: middle;
	}

.mainset .yeyakcase .rechhotel .reccont.serht .serhtcase .btnsee {
    margin-left: 0px !important;
	}
	
.yeyakcase .rechhotel .reccont.htcheck {
    width: 417px;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck {
    width: 387px;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck {
    width: 375px;
    margin: 0 31px 0 43px;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck dl {
    width: 140px;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck .night {
    width: 85px;
    margin: 0 5px;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck .night dt {
    width: 100%;
    background: url("Other/3reservation/searchnight.png") 50% 0 no-repeat;
	}

.yeyakcase .hidden {
    position: absolute;
	}

.yeyakcase .rechhotel .reccont.htcheck .night dd {
    color: #727272;
    font-size: 16px;
    font-weight: bold;
	}

.mainset .yeyakcase .rechhotel .reccont.htcheck .night dd {
    color: #727272;
    font-size: 16px;
    font-weight: bold;
	}

.yeyakcase .rechhotel .reccont.numhue {
    width: 314px;
    margin-right: 10px;
	}
	
.mainset .yeyakcase .rechhotel .reccont.numhue {
    width: 314px;
	}
	
.mainset .yeyakcase .rechhotel .reccont.numhue dl:first-child {
    margin: 0;
	}
	
.mainset .yeyakcase .rechhotel .reccont.numhue dl {
    width: 56px;
    margin: 0 0 0 30px;
	}

.mainset .yeyakcase .rechhotel .reccont .question {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0;
    background: url("Other/3reservation/searchtab.png") no-repeat 0 0;
    vertical-align: middle;
    cursor: pointer;
    z-index: 11;
	}

.yeyakcase .rechhotel .reccont.btnsearch {
    margin-right: 0;
	}

.mainset .yeyakcase .rechhotel .reccont.btnsearch {
    position: absolute;
    bottom: 0;
    right: 0;
	}

.yeyakcase .rechhotel .reccont.btnsearch a img {
    display: block;
	}

.mainset .yeyakcase .rechhotel .reccont.btnsearch a img {
    display: block;
	}
	
.centerhub {
    padding-bottom: 150px;
	}

.specialoffer {
    position: relative;
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto 150px;
	}

.specialoffer .sptitle {
    width: 267px;
    height: 80px;
    margin: 100px auto 50px;
    text-indent: -9999px;
    background: url("Other/2button/tabspecialoffer.gif") no-repeat;
	}

.specialofferimg {
    position: relative;
    min-width: 1200px;
    width: 1200px;
    margin: auto;
    height: 640px;
	}
	
.specialofferimg .tab {
    height: 640px;
	}

.specialofferimg li {
    overflow: hidden;
	}

.specialofferimg .tab .slidetype1, 
.specialofferimg .tab .slidetype2, 
.specialofferinner .tab .slidetype3 {
    overflow: hidden;
    height: 640px;
    line-height: 0;
	}

.slidetype1 .type1 {
    float: left;
    width: 793px;
    margin-right: 20px;
	}

.slidetype1 .type1 .offerimg {
    margin-bottom: 20px;
	}

.pck {
    position: relative;
    line-height: 0;
	}

.slidetype1 a, .slidetype2 a, .slidetype3 a {
    display: block;
    font-size: 0;
	}

.slidetype1 .type1 ul {
    overflow: hidden;
	}

.slidetype1 .type1 ul li {
    float: left;
    margin-left: 20px;
	}

.slidetype1 .type1 ul li.first {
    margin-left: 0;
	}

.slidetype1 .type2 ul li+li {
    margin-top: 20px;
	}
.specialoffer .btnmore {
    position: absolute;
    margin: 80px;
    top: -15px;
    right: 20px;
	}

.membercase {
    background: #f6f6f6;
    height: 362px;
	}

.membercaseIn {
    overflow: hidden;
    min-width: 1200px;
    width: 1200px;
    margin: auto;
    padding: 50px 0;
    position: relative;
	}

.membercaseIn .memtitle {
    margin-bottom: 50px;
    text-align: center;
	}

.membercaseIn .memlogo {
    overflow: hidden;
    margin: 40px 0;
	}

.membercaseIn .memlogo li {
    float: left;
    margin-left: 36px;
    padding-left: 40px;
    border-left: 1px solid #e4e4e4;
	}

.membercaseIn .memlogo li.first {
    margin-left: 0;
    padding-left: 0;
    border-right: none;
	}

.membercaseIn .memdetail {
    position: relative;
    width: 724px;
	}

.membercaseIn .memdetail .detailsee {
    position: absolute;
    top: 24px;
    right: 140px;
	}

.membercaseIn .join {
    position: absolute;
    top: 180px;
    right: 60px;
    width: 230px;
	}

.membercaseIn .join .btnjoin {
    display: block;
    position: absolute;
    top: 98px;
    right: 0;
    font-size: 0;
	}

.galvideo {
    width: 1200px;
    margin: 0 auto 70px;
	}

.galvideo .gallery {
    width: 170px;
    height: 80px;
    margin: 100px auto 50px;
    background: url("Other/2button/tabgallery.gif") no-repeat;
	}
.iframebox {
    position: relative;
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.iframeset{
    position: relative;
    min-width: 1200px;
    width: 1200px;
    margin: auto;
    height: 640px;
}

.lastbar {
	width: 100%;
    background: url("Other/4floor/flobg.gif") repeat;
    height: 170px;
	}

.lastbar .barfoot {
    width: 1200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
	}

.lastbar .barlogo {
    float: left;
    width: 230px;
    height: 170px;
    position: relative;
    background: url("Other/4floor/flo1.gif") no-repeat 0 19px;
	}

.brandcase {
    overflow: hidden;
	}
	
.brandcase .brand {
    display: inline-block;
    width: 161px;
    height: 68px;
    background: url("Other/4floor/flo2.gif") no-repeat;
    overflow: hidden;
	}

.brandcase .brandstay {
    display: inline-block;
    width: 187px;
    height: 68px;
    background: url("Other/4floor/flo3.gif") no-repeat;
    overflow: hidden;
	}

.lastbar .explain {
    float: left;
    width: 970px;
    height: 64px;
    position: relative;
    background-color: #f1ebd6;
    border-top: 1px solid #e3dec9;
	}
	
.lastbar .explain .exbox {
    float: left;
    position: relative;
    left: 401px;
    top: 30px;
	}

.lastbar .barfoot .explain .exbox dd {
    float: left;
    margin: 0 0px 0 0;
	}

.lastbar .barfoot .explain .exbox dd.d1 a {
    width: 88px;
	}

.lastbar .barfoot .explain .exbox a {
    display: block;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    top: 15px;
	}

.lastbar .barfoot .explain .exbox dd.d2 a {
    width: 77px;
	}

.lastbar .barfoot .explain .exbox dd.d3 a {
    width: 130px;
	}

.lastbar .explain .sns {
    position: absolute;
    right: 0px;
    top: 30px;
    height: 23px;
	}

.lastbar .explain  .htnumber {
    position: absolute;
    left: 0px;
    top: 30px;
	}

.barfoot2 .exlocal {
    position: absolute;
    left: 0 !important;
    top: 25px;
	}

.barfoot2 .exlocal {
    float: left;
    margin: 0 0px 0 0;
	}

.barfoot2 .exlocal .exin {
    width: 474px;
    background-position: 0px 0px;
    height: 13px;
    display: block;
    background: url("Other/4floor/flo7.gif") no-repeat;
    text-indent: -9999%;
    line-height: 200px;
    overflow: hidden;
	}


.barfoot2 .langu {
    position: absolute;
    right: -7px;
    top: 19px;
    float: left;
    margin: 0 0px 0 0;
	}

.barfoot2 .langu .lang {
    background: url("Other/4floor/Lang.gif") no-repeat;
    height: 25px;
    display: block;
    text-indent: -9999%;
    overflow: hidden;
    width: 190px;
    background-position: -58px 0px;
}

.barfoot2 .copylight {
    position: absolute;
    left: 0px;
    top: 76px;
    height: 50px;
    width: 1100px;
    background: url("Other/4floor/flo8.gif") no-repeat 0 0;
    display: block;
    line-height: 100px;
    overflow: hidden;
}