@charset "UTF-8";
body, div, td, th, h1,h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #101010;
}
div {
    display: block;
}
body, html {
    font-size: 12px;
    font-family: Dotum,'돋움',sans-serif,Arial, Helvetica;
}
ul, ol, li, dl, dt, dd {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
	margin: auto;
	width: 1200px; 
	height: 900px; 
	background-color: #f8f8f8;
}


	

#div2-R-T {width : calc(100% - 10px);
		   height : 40px;
		   padding-left : 10px;
		   padding-top : 10px;
		   float : right;
		   border-bottom : thick;
	   	   border-bottom-width: 5px;
	  	   border-bottom-style: solid;
	  	   font-size : 20px;
	   	   font-weight : normal;
	   	   color : #432c10;
	   	   display : inline-block;
	   	   background: #efefef;	
		   }
.menu_top {color : #432c10;
	margin-bottom : 26px;
	font-size : 15px;
	letter-spacing: -1px;
	font-weight : bold;
	padding : 0 20px;
	folat:left;
	border-right-width: 1px;
	border-right-style: dotted;
	}		   

.middle{
	width: calc(100% - 20px);	
	height: calc(34% - 20px);	
	padding: 10px; 
}
.middle .div_mid{
	width: calc(25% - 20px); 
	height: calc(100% - 30px);
	margin:10px;
	background-color: white;
	float :left; 
	padding-top: 10px;
}
.middle .div_mid p{
	padding-top:5px;
	padding-left: 15px;
}


.bottom{
	width: calc(100% - 20px);	
	height: calc(60% - 20px);		
	clear: both;	
padding-left: 10px;
}

.div_bot{
	width: calc(100% - 20px);	
	height: calc(100% );
	margin-left:10px;
	margin-right:10px;

	background-color: white;
	font-weight: bold;
}

.bot_menu{
	text-align: center;
	width: 110px;
	height: 17px;
	font-size: 18px;
	float: left;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;

	
}

.bot_menu2{
	text-align: center;
	width: 80px;
	height: 17px;
	font-size: 17px;
	float: left;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 3px;
	
}
.bot_menu3{
	text-align: center;
	width: 310px;
	height: 15px;
	font-size: 15px;
	float: left;
	text-decoration: none;
}
.bot_date_menu{
	width:150px;
	float: left;
	color: green;
}
.a::after {display:block; content: ""; clear: both;}




#id{
	position:absolute;
	top:10px;
	right:20px;
}
h1{
	padding-top: 10px;
	padding-left: 30px;
}

.bot_top{
	width: 100%; 
	height: 5%;
	padding: 10px 0; 
	background-color:#f7efd7;
}
.bot_left{
	width: calc(50% - 30px); 
	height: calc(95% - 30px); 
	padding: 15px; 
	float:left;
}
.bot_right{
	width: calc(50% - 30px); 
	height: calc(95% - 30px); 
	padding: 15px; 
	float:left;
}
.graph_x{
	width: 30%;
	height: 100%; 
	float:left;
}
.graph_y{
	width: 70%;
	height: 100%; 
	float:left;
}
	
.graph_x_li{
	width: calc(100% - 60px);
	height: calc(20% - 60px); 
	text-align: right;
	margin-top: 30px;
	padding-top:20px;
	margin-right: 50px;
	border-radius: 5px;
}
.graph_y_1{
	background-color: #c0c0c0;
	width: 45%;
	height: calc(20% - 60px); 
	text-align: center;
	margin-top: 30px;
	padding-top:20px;
	border-radius: 10px;
}
.graph_y_2{
	background-color: #c0c0c0;
	width: 90%;
	height: calc(20% - 60px); 
	text-align: center;
	margin-top: 30px;
	padding-top:20px;
	border-radius: 10px;
}
.graph_y_3{
	background-color: #c0c0c0;
	width: 35%;
	height: calc(20% - 60px); 
	text-align: center;
	margin-top: 30px;
	padding-top:20px;
	border-radius: 10px;
}
.graph_y_4{
	background-color: #c0c0c0;
	width: 80%;
	height: calc(20% - 60px); 
	text-align: center;
	margin-top: 30px;
	padding-top:20px;
	border-radius: 10px;
}
.graph_y_5{
	background-color: #c0c0c0;
	width: 60%;
	height: calc(20% - 60px); 
	text-align: center;
	margin-top: 30px;
	padding-top:20px;
	border-radius: 10px;
}









